---
import "../styles/global.css";
import TodoApp from "../components/TodoApp";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Astro Todo</title>
	</head>
	<body>
		<TodoApp client:load />
	</body>
</html>
